{% extends 'layouts/base.html' %}

{% block content %}
  <!-- Plans -->
  <section id="plans">
      <div class="container">
          <div class="row">
              <!-- item -->
              <div class="col-md-4"></div>
              <div class="col-md-4 text-center">
                  <div class="panel panel-danger panel-pricing">
                      <form method="POST">
                            {% csrf_token %}
                          <div class="panel-heading">
                              <i class="fa fa-desktop"></i>
                              <h3>Login</h3>
                          </div>
                          <div class="panel-body text-center">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon iga1">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Enter Email" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon iga1">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Enter Password" name="password">
                                    </div>
                                </div>
                          </div>
                          <div class="panel-footer">
                              <button type="submit" class="btn btn-sm btn-block btn-danger">Login</button>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-4"></div>
              <!-- /item -->

          </div>
      </div>
  </section>
  <!-- /Plans -->
{% endblock %}