{% extends 'layouts/base.html' %}

{% block content %}
<!-- Plans -->
{% if user.is_authenticated %}
<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Friends</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{% url 'home' %}" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="task-table-filter" name="search" data-action="filter" data-filters="#task-table" placeholder="Type name" />
                                    <div class="input-group-addon iga1">
                                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover" id="task-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for allUser in allUsers %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ allUser.first_name }} {{allUser.last_name}}</td>
                                    <td>{{ allUser.email }}</td>
                                    <td><a href="{% url 'addFriend' allUser.id %}" class="btn btn-primary">Add Friend</a></td>
                                </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Plans -->
{% endif %}
{% endblock %}