{% extends 'layouts/base.html' %}

{% block content %}
<!-- Plans -->
{% if user.is_authenticated %}
<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Connections<a href="{% url 'export_users_xls' %}" class="pull-right">Export</a></h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{% url 'myConnections' %}" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="task-table-filter" name="search" data-action="filter" data-filters="#task-table" placeholder="Type name" />
                                    <div class="input-group-addon iga1">
                                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover" id="task-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for myConnection in myConnections %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ myConnection.first_name }}</td>
                                    <td>{{ myConnection.email }}</td>
                                </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Plans -->
{% endif %}
{% endblock %}